<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncClient" version="1.0.0" targetFramework="net48" />
  <package id="AsyncTcpClient" version="1.0.1" targetFramework="net48" />
  <package id="AutoMapper" version="10.0.0" targetFramework="net48" />
  <package id="EasyNetQ" version="7.3.8" targetFramework="net48" />
  <package id="Exceptionless" version="4.8.0" targetFramework="net48" />
  <package id="Exceptionless.NLog" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.23" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NLog" version="5.0.0" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Database" version="5.0.0" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net48" />
  <package id="NModbus" version="3.0.72" targetFramework="net48" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.2" targetFramework="net48" />
  <package id="RabbitMQ" version="3.6.2" targetFramework="net48" />
  <package id="RabbitMQ.Client" version="6.4.0" targetFramework="net48" />
  <package id="RedLock.net" version="2.3.2" targetFramework="net48" />
  <package id="Serilog" version="2.8.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net48" />
  <package id="ServiceStack" version="6.4.0" targetFramework="net48" />
  <package id="ServiceStack.Client" version="6.4.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="6.4.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="6.4.0" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="6.4.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="6.4.0" targetFramework="net48" />
  <package id="StackExchange.Redis" version="2.6.90" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="6.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net48" />
  <package id="UtilsSharp" version="3.0.0" targetFramework="net48" />
  <package id="UtilsSharp.Shared" version="1.0.0" targetFramework="net48" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net48" />
</packages>