<?xml version="1.0" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\work\log.txt">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"  throwExceptions="true"
      internalLogFile="d:\log.txt"
      internalLogLevel="Debug">
	<extensions>
		<add assembly="Exceptionless.NLog" />
	</extensions>
	<targets async="true">


		<!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->

    <!-- 开启了一个异步队列 -->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <!-- write logs to file -->
			<target xsi:type="File" fileName="${basedir}/logs/${event-context:item=FileName}${shortdate}.log" layout="${longdate} 
              ${newline} [${level:uppercase=true}] ${event-context:item=Action} : ${message} 
              ${newline} ${event-context:item=Amount} ${stacktrace}
              ${newline} ------------------------------------------------" encoding="utf-8" 
			  MaxArchiveFiles="30"/>
		</target>

		<!-- write log message to database -->
		<target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target type="Database" dbProvider="sqlserver" connectionString="Data Source=.;Initial Catalog=NanXingGuoRen_WMS;Persist Security Info=True;User ID=tzhuser;Password=tzhuser;">

				<commandText>
					INSERT INTO [Log]([Logdate],[MarkLogLevel],[LogMessage],[LogAction],[LogAmount],[StackTrace]) VALUES(@time_stamp, @level, @message, @action, @amount, @stacktrace);
				</commandText>

				<!-- database connection parameters -->
				<parameter name="@time_stamp" layout="${date}" />
				<parameter name="@level" layout="${level:uppercase=true}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@action" layout="${event-context:item=Action}" />
				<parameter name="@amount" layout="${event-context:item=Amount}" />
				<parameter name="@stacktrace" layout="${stacktrace}" />
			</target>
		</target>

		<!--write log message to Visual Studio Output-->
		<target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />


		<!--write log message to Exceptionless-->
		<target name="exceptionless" xsi:type="Exceptionless" apiKey="zeepN6931XI2zr9fnMGL9Ns5Z5WmyyIq14ylQ4PV" serverUrl="http://192.168.1.90:50000/">
			<field name="host" layout="${machinename}" />
			<field name="identity" layout="${identity}" />
			<field name="windows-identity" layout="${windows-identity:userName=True:domain=False}" />
			<field name="process" layout="${processname}" />
		</target>
	</targets>

	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Trace" writeTo="debugger" />
		<!--INFO,WARN,ERROR,FATAL
		<logger name="*" minlevel="Info" writeTo="db" />-->
		<!--DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Debug" writeTo="file" />
		<!--DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Info" writeTo="exceptionless" />
	</rules>
</nlog>